{
    "extends": "airbnb",
    "globals": {
        "expect": true,
        "React": "writable",
        "test": true
    },
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}